body
{
    margin: 0;
    background: #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 70px;
}
main#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 40vw;
    grid-gap: 20px;
    max-width: 90%;
    margin:auto;
}
main article {
    background: #f3f3f3;
}